.container {
  padding: 5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;

  max-width: 65ch;
  line-height: 1.5;
  margin: 0 auto;
}

.header {
  text-align: center;
}
