.text {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 1;

    font-family: 'SF Pro Text';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

    width: 200px;
    height: 200px;
    white-space: pre-line;
}
